/* src/index.css */
@import "tailwindcss";

/* index.css သို့မဟုတ် App.css ထဲမှာ ထည့်ပါ */
@layer base {
  html {
    /* 100% မှာ 80% လောက်ပဲ ရှိနေအောင် 16px ရဲ့ 85% သို့မဟုတ် 90% ခန့်ကို ချိန်ညှိပါ */
    font-size: 14px;
  }

  @media (min-width: 1536px) {
    html {
      font-size: 14px; /* Screen အလွန်ကြီးရင် နည်းနည်းပြန်တင်ပေးပါ */
    }
  }
}

.profile-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #22d3ee #0f172a;
}

.profile-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.profile-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 999px;
}

.profile-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #22d3ee, #3b82f6);
  border-radius: 999px;
}

.profile-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #67e8f9;
}
